@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,200&display=swap');

* {
    margin: 0;
    padding: 0; 
    border: none; 
    outline: none; 
    box-sizing: border-box; 
    font-family: "Poppins", sans-serif; 
}

a {
    text-decoration: none;
    color: black; 
}
.container {
    display:flex;
}


.sidebar  {
    position: sticky; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    width: 240px;
    height: 100vh; 
    padding: 2rem 1.7rem;
    color: #fff; 
    overflow: hidden;
    transition: all 1s linear; 
    background: #B2A59B; 
 
}

.menu {
    height: 88%; 
    position: relative; 
    list-style: none; 
    padding: 0; 
}

.menu li {
    padding: 1rem; 
    margin: 8px; 
    border-radius: 8px; 
    transition: all 0.6s ease-in-out;
      
}

.menu li:hover {
background: white;
border-radius: 20px;
}

.name {
    font-size: 40px; 
    padding: 2rem; 
    background-color: #FAEED1; 
    flex: 3;
 
}
.name span {
    font-weight: bold;
}

.name p {
    padding: rem;
    font-size: 20px;
  
}

